<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.music">
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/touxiang"
        android:label="MUSIC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Music"
        tools:ignore="ExtraText">
<!--      进去是主界面，不是welcome界面  -->
        <activity
            android:name=".Activity_welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lrc"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".Activity_user" />
        <activity android:name=".Activity_search" />
        <activity android:name=".Activity_user_help" />
        <activity android:name=".Activity_user_setting" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity_my" />
        <activity android:name=".list_show" />
        <activity android:name=".activity_massege"/>
        <activity android:name=".activity_change_id"/>
        <activity android:name=".set_choose"/>
        <activity android:name=".user_massege_change"/>
        <activity android:name=".antivity_shouchang"/>

        <activity
        android:name=".Music_Activity"
        android:exported="true" />

        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="false" />

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>